.t923__textwrapper.t923__paddingsmall {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.btn-gph {
	color: #0074e6;
	font-size: 14px;
	font-family: 'TTFirsNeue';
	cursor: pointer;
	padding: 4px 8px;
	background-color: #f2d5c5;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	text-align: center;
	margin: 10px auto 0 auto;
	transition: all .3s ease;
}

.btn-gph:hover {
	background-color: #fff;
}

.case {
	display: none;
}

.case.active {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	background-color: rgb(0 0 0 / 70%);
	width: 100%;
	height: 100%;
	font-family: 'TTFirsNeue';
	z-index: 9999;
}

.case .modal {
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: #fff;
	width: 80%;
	height: 80%;
	margin: auto;
	padding: 14px;
	overflow-y: scroll;
	max-width: 580px;
	max-height: 660px;
}

.case .modal img {
	width: 100%;
}

@media (min-width: 640px) {
	.case .modal {
		display: block;
	}

	.case .modal img {
		width: 50%;
		padding: 0 10px 10px 0;
		float: left;
	}
}

.case .modal .title {
	font-weight: 700;
	margin-top: 10px;
}

.case .modal>.title {
	margin-bottom: 14px;
}

.case .description .title {
	font-weight: 700;
	margin-bottom: 2px;
}

@media (max-width: 479px) {
	.t-card__title {
		font-size: 14px!important;
	}

	.t-card__descr {
		font-size: 12px!important;
	}
}
